<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="py-6 px-6 flex justify-between bg-teal-500">
            <a href="/" class="text-white">Teal CRM</a>

            <div class="space-x-3">
                <a href="{% url 'about' %}" class="text-white">About</a>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" class="inline-block">
                        {% csrf_token %}
                        <button type="submit" class="py-4 px-6 rounded-xl bg-red-600 text-white ">Log Out</button>
                    </form>
                    <a href="{% url 'leads_list' %}" class="py-4 px-6 rounded-xl bg-teal-600 text-white ">Leads</a>
                    <a href="{% url 'dashboard' %}" class="py-4 px-6 rounded-xl bg-teal-600 text-white ">Dashboard</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="py-4 px-6 rounded-xl bg-teal-600 text-white ">Log in</a>
                    <a href="{% url 'signup' %}" class="py-4 px-6 rounded-xl bg-teal-300 text-white ">Sign up</a>       
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="py-8 text-center bg-gray-200">
            <p class="text-xs text-gray-700">Copyright (c) 2024 - Teal CRM</p>
        </footer>
    </body>

</html>